[Unit]
Description=HoneMesh node auto-update timer
Requires=honemesh-update.service

[Timer]
# Check for updates every 10 minutes.
OnBootSec=5min
OnUnitActiveSec=10min
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
